*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/common/build/
/common/build/classes/java/main/
/common/build/classes/java/test/
/i2p/build/
/i2p/build/classes/java/main/
/i2p/build/classes/java/test/
/i18n/build/
/i18n/build/classes/java/main/
/persistence/build/
/persistence/build/classes/java/main/
/persistence/build/classes/java/test/
/tor/build/
/tor/build/classes/java/main/
/tor/build/classes/java/test/